.root {
	display: flex;
	flex-direction: column;
	row-gap: 4px;

	.label {
		color: var(--color-gray-dark) !important;
	}

	.inputWrapper {
		background-color: #fff;
		border: 1px solid var(--color-primary);
		box-shadow: none;

		&:focus-within{
			background-color: #fff;
			border-color: var(--color-primary);
		}
	}

	.input {
		&::placeholder {
			color: var(--color-gray-basic) !important;
			opacity: .5;
		}
	}

	.error {
		font-size: 14px;
		color: var(--text-red-basic);
	}
}
