.root {
	display: flex;
	flex-direction: column;
	row-gap: 4px;

	.label {
		color: #333333 !important;
	}

	.inputWrapper {
		background-color: #fff;
		border: 1px solid #bdbdbd;
		box-shadow: none;

		&:focus-within{
			background-color: #fff;
			border-color: #828282;
		}
	}

	.input {
		&::placeholder {
			color: #828282 !important;
			opacity: .5;
		}
	}

	.error {
		font-size: 14px;
		color: var(--text-red-basic);
	}
}
