.root {
	display: flex;
	align-items: center;
	column-gap: 12px;
	border-radius: 8px;
	padding: 10px;
	color: var(--color-green-brand);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: #E3F0FD;
	}

	.link {
		font-size: 1rem;
		font-weight: 500;
	}

	&.active {
		background-color: var(--color-primary);
		color: #fff;
	}
}
