.root {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;

	.table {
		width: 100%;
		text-align: left;
		color: var(--color-gray-dark);
	}

	.row {
		border: 1px solid var(--color-gray-state);

		.cell {
			padding: 8px;

			&:first-child {
				width: 40px;
			}
		}
	}

	.header {
		background-color: var(--color-gray-light);
		font-size: 18px;
	}

	.body {
		font-size: 1rem;
	}
}
