.root {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	box-shadow: var(--shadow-blue-light);

	.table {
		width: 100%;
		text-align: left;
		background-color: #fff;
	}

	.row {
		.cell {
			font-size: 1rem;
			color: var(--color-green-brand);
			font-weight: 500;
			padding: 16px;
			vertical-align: middle;
			line-height: 1;

			&:first-child {
				width: 40px;
			}
		}
	}

	.header {
		border-bottom: 1px solid var(--color-gray-secondary);
	}

	.body {
		font-size: 14px;
	}
}
