.root {
	&.solid,
	&.outline {
		border: 1px solid;
		font-size: 1rem;
		outline: none;
		&:focus {
			outline: none;
		}
	}

	&.solid {
		border-color: transparent;
		color: var(--color-gray-light);

		&.primary {
			background-color: var(--color-primary);
		}

		&.danger {
			background-color: var(--color-red-basic);
		}
	}

	&.outline {
		background-color: transparent;
		color: var(--color-gray-dark);

		&.primary {
			border-color: var(--color-primary);
			&:hover {
				color: var(--color-primary);
			}
		}

		&.danger {
			border-color: var(--color-red-dark);
			&:hover {
				color: var(--color-red-basic);
			}
		}
	}
}
