.root {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;

	&.shadow {
		box-shadow: var(--shadow-blue-light);
	}

	.table {
		width: 100%;
		text-align: left;
		background-color: #fff;
	}
}
