.root {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-red-basic);
  }

  &.active::before {
    background-color: green;
  }
}
